html,
body {
  background: #6a5b56;
  color: #fff;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  font-weight: 100;
}

button {
  border: none;
  background: none;
  outline: 0;
  color: #fff;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.console {
  height: 100vh;
  width: 100%;
  background: #a21b1b;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  text-align: center;
}

.time-controls {
  text-align: center;
}

.time-controls .control {
  display: inline-block;
  background-color: #ffffff;
}

.time-controls .number {
  display: inline-block;
  color: #000;
  padding: 10px;
  width: 20px;
}

.time-controls .modifier {
  display: inline-block;
  width: 20px;
  padding: 10px;
  background-color: #000;
  font-weight: bold;
  cursor: pointer;
  transition: .3s ease-in-out;
}

.time-controls .modifier:hover {
  background-color: #2e2e2e;
}

.setting p {
  font-size: 0.8em;
}

.setting span {
  font-size: 1.5em;
}

.setting button {
  font-size: 1.5em;
  height: 40px;
  width: 40px;
}

.setting {
  background: #000;
  display: inline-block;
  width: 40%;
  margin: 10px;
}

#timer {
  padding: 100px 0 100px;
}

#timer span {
  font-size: 4em;
}


.cntrl-btn {
  display: inline-block;
  vertical-align: middle;
  width: 30%;
}

#btn-default,
#btn-reset {
  font-size: 0.8em;
}

.material-icons.lg {
  padding: 20px 0;
  font-size: 54px;
}

@media (min-width: 40.5em) {
  .console {
    margin-top: 50px;
    max-width: 340px;
    height: 500px;
  }
}